@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300&display=swap');

body {
  font-family: "Work Sans", Poppins, sans-serif;
  color: #444;
  background: #f8f9fa;

  max-width: 3000px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  /* border, height, and background-image were taken from https://css-tricks.com/examples/hrs/ */
  border: 0;
  height: 1px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/*--------------------------------------------------------------------Navbar Container*/

header {
  position: fixed;
  z-index: 999;
}

.navbar {
  position: fixed;
  margin-bottom: 0;
  border: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}

.navbar-brand {
  font-size: 2.2rem;
  color: inherit;
}

@media only screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-toggler {
    font-size: 1rem;
  }
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: inherit;
}

.nav-link:hover {
  text-decoration: underline;
  color: #777777;
}

.navbar-toggler {
  border: none;
}

.details-collapse-container {
  overflow: hidden;
}

#details-collapse .text-center {
  padding: 0;
}

.card-body,
.card-body:focus {
  background: #f8f9fa;
  border: none;
}

/*--------------------------------------------------------------------Navalert Cection*/

.navalert-container {
  position: fixed;
  padding-left: 0;
  padding-right: 0;
}

.alert-container {
  padding: 0;
}

.alert {
  margin: 0;
  border-radius: 0;
}

/*--------------------------------------------------------------------Hero container*/
.hero-container {
  height: 100vh;

  background: url(../images/lemon-barsX3-centered.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 840px) {
  .hero-container {
    height: 80vh;
  }
}

/*-------------------------------------------------------------------- Product Section*/

.product {
  margin-bottom: 40px;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.product img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5% 25% 5% 25%;
}
/* the below attribute was taken from my notes aquired during the CSS module of the Code Institute course */
.product img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.gallery-link {
  float: right;
  color: #444;
}

.gallery-link a:hover {
  text-decoration: none;
  color: #777777;
  font-weight: bold;
}

/*-------------------------------------------------------------------- About Us Section*/

.about-container {
  font-size: 1.2rem;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

blockquote {
  text-align: center;
  padding-top: 10%;
}

.about-link {
  color: #777777;
  border: 1px solid lightgrey;
}

.about-link:hover {
  text-decoration: none;
  border: none;
  color: #fff;
  background: #444;
}

@media only screen and (max-width: 450px) {
  .our-story-preview {
    flex-direction: column-reverse;
  }
}

/*-------------------------------------------------------------------- Footer*/

footer {
  background: #444;
  color: lightgrey;
  padding: 30px;
  margin-top: 40px;
}

/* Code for .vert-line was partially sourced from https://www.w3schools.com/howto/howto_css_vertical_line.asp */
.vert-line-right {
  border-right: 1px solid lightgrey;
  height: 3rem;
}

.vert-line-left {
  border-left: 1px solid lightgrey;
  height: 3rem;
}

footer li {
  display: inline;
  text-align: center;
  list-style: none;
}

footer ul {
  padding: 0;
}

.find-us i {
  font-size: 2rem;
  color: lightgrey;
  padding-top: 5px;
  padding: 2%;
}

/*-------------------------------------------------------------------- */
/*-------------------------------------------------------------------- About Us Page*/

#method-link {
  margin-bottom: 3.5rem;
}

.about-us-article,
.iframe-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: block;
}

.about-image-container img {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.about-text {
  text-align: center;
  margin: auto;
}

.about-text h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media only screen and (max-width: 700px) {
  .about-container {
    padding-top: 8rem;
  }
}

@media only screen and (min-width: 700px) {
  .iframe-outer-container {
    max-width: 500px;
    margin: auto;
  }
}

/*-------------------------------------------------------------------- */
/*-------------------------------------------------------------------- Gallery Page*/

#gallery-photos {
  clear: both;
  -moz-column-count: 2;
  column-count: 2;
  -moz-column-gap: 0;
  column-gap: 0;
  line-height: 0;
  padding-top: 5rem;
  padding-bottom: 0;
}

#gallery-photos img {
  max-width: 100%;
}

#gallery-footer {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  #gallery-photos {
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: 1024px) {
  #gallery-photos {
    -moz-column-count: 4;
    column-count: 4;
  }
}

#gallery-modal img {
  max-height: 1000px;
  -o-object-fit: cover;
  object-fit: cover;
}

/*-------------------------------------------------------------------- */
/*-------------------------------------------------------------------- Contact Page*/

#contact-footer {
  margin-top: 0;
}

.contact-container {
  position: relative;
}

.contact-image-container {
  height: 1000px;
  width: auto;

  background: url(../images/lake.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-height: 1366px) {
  .contact-image-container {
    height: 1366px;
  }
}

.form-box {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 5%;
}

@media only screen and (min-width: 1024px) {
  .form-box {
    position: absolute;
    top: 20%;
    bottom: 25%;
    left: 25%;
    right: 25%;
  }
}

@media only screen and (min-width: 2500px) {
  .form-box {
    position: absolute;
    top: 20%;
    bottom: 25%;
    left: 35%;
    right: 35%;
  }
}

.contact-form {
  background-color: rgba(60, 60, 60, 0.6);
  color: #fff;
  padding: 1rem;
  height: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f8f9fa;
}

.contact-form h2 {
  color: #f8f9fa;
  margin-bottom: 20px;
}

input[type="radio"] {
  display: inline-block;
}

.submit-button {
  margin-bottom: 1rem;
  border-radius: 2px;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 100%;
  color: #444;
  border: 1px solid #fff;
  float: right;
}

.submit-button:hover {
  color: #fff;
  background: #444;
}
